*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

/composeApp/app.db

# You need to add your own GoogleService-Info.plist and google-services.json to the iosApp and composeApp folders respectively
/iosApp/iosApp/GoogleService-Info.plist
/composeApp/google-services.json